[2017-04-23 13:04] itsderek23 opened #3 "Ecto instrumentation: change `type` from "Ecto" to the DB adapter?"
[Ecto supports multiple database adapters](https://github.com/elixir-ecto/ecto#usage): Postgres, MySQL, Mnesia, MongoDB, etc. Currently, [we categorize all Ecto queries as the `Ecto` type](https://github.com/scoutapp/scout_apm_elixir/blob/master/lib/scout_apm/instruments/ecto_logger.ex#L27).

If an app is using Ecto for both MongoDB and Postgres, it's likely desirable to instead see the types as "

[2017-04-25 02:03] itsderek23 opened #4 "In-browser profiler: DevTrace"
Implement [DevTrace](https://scoutapp.com/devtrace) for Phoenix so traces can be viewed instantly when developing an app.

## Proposed items for an initial release

- [x]  Handle AJAX requests
- [x] Ensure it works w/o entering an API key
- [x]  Handle sub-millisecond response times in the speed badge
- [x]  Ensure traces are formatted in proper Elixir format
- [x]  Possibly reduce the width of th

[2017-04-25 13:48] itsderek23 opened #6 "Don't report if an API key isn't provided"
We currently report data if an API key isn't provided:

[code]

With Devtrace #4 coming, folks can use the scout_apm package w/o an API key. We should log if a key isn't configured and prevent reporting.

[2017-04-26 20:47] shawnbro opened #7 "ScoutAPM.PersistentHistogram Terminating`"
i just deployed the scout elixir APM, and getting the following error:
![screen shot 2017-04-26 at 1 46 52 pm](https://cloud.githubusercontent.com/assets/6208719/25456114/d60d3642-2a86-11e7-9ffd-f64bafdf3d2b.png)

reports seem to be going through correctly.  Any help with this bug?

also nothing is showing up in the scout console.

[2017-04-28 19:58] cschneid opened #10 "Add support for request Context"
The Ruby agent has supported a `Context` api, where an application can add small snippets of information to a request, which will be saved and displayed in a trace on the web site.

## For instance:

![admincontroller_index](https://cloud.githubusercontent.com/assets/6119/25545033/571e7388-2c1a-11e7-8c09-3f936181f5bc.png)

We should reimplement this in the Elixir agent as well.

## Hypothetical ap

[2017-04-28 20:16] karmajunkie commented on #10
Tuples, lists, and maps would be good to have available as well.

[2017-04-28 22:44] cschneid commented on #7
I couldn't get this to reproduce locally, but I'm pretty sure it was a race condition when we stored histograms vs when we *used* histograms in recording a trace. I reversed the order, made recording them synchronous, and added safe return values of `:error` instead of exceptions.

`0.2.7` should have this fixed.

[2017-04-30 19:57] #7 closed

[2017-05-01 13:52] karmajunkie commented on #10
oh, i see you already addressed the maps question—any particular reason to disallow those? Just to prevent overdoing it on stored request data?

[2017-05-01 14:47] itsderek23 commented on #10
Good question. Two primary reasons:

1. Currently our UI only supports top-level keys. We don't handle nested context values.
2. We're working on a new way to query request data, including filtering by context, called [Explorer](https://apm.scoutapp.com/explorer). This won't support nested values initially.

Expanding a tuple into the parent context (ie: prefixing user keys with `user_`) seems lik

[2017-05-01 15:07] karmajunkie commented on #10
Ok, good to know, thanks for the update!

[2017-05-01 18:34] itsderek23 commented on #6
Related: we should have a `monitor` key that enables/disables monitoring.

Our provided `config/scout_apm.exs` file should set this true.

If `monitor != true` || `NO KEY`, don't report.

On startup, would be nice to log the state of this.

[2017-05-01 22:31] itsderek23 opened #12 "(UndefinedFunctionError) function NaiveDateTime.utc_now/0 is undefined or private"
The following exception:

[code]

...occurs as we're calling an Elixir 1.4 function that doesn't exist in Elixir 1.3. We officially support 1.4+, but if it all we need to support 1.3 is returning the current UTC time, there's probably an underlying Erlang function for this.

[2017-05-04 16:21] #10 closed

[2017-05-04 16:28] itsderek23 opened #14 "HTTPoison Instrumentation"
I believe we can auto-instrument HTTPoison when called from a controller:

1. Create a new `ScoutApm.HTTPoison` module similar to [this](https://gist.github.com/itsderek23/50296b49df16b266e47cc04d227d4b4a).
2. Update `ScoutApm.Instrumentation` to call `alias ScoutApm.HTTPoison`
3. Add documentation that instrumenting `HTTPoison` outside of the controller requires calling `alias ScoutApm.HTTPoison`

[2017-05-04 17:45] #6 closed

[2017-05-04 17:45] #4 closed

[2017-05-09 08:25] ashutoshrishi opened #17 "(Compilation error) ....priv/static/devtrace/xml_http_script.html: no such file or directory in v0.2.9"
After my dependencies upgraded to version `0.2.9` I am getting the following compilation error:

[code]

I think the published package is not tracking the file
`priv/static/devtrace/xml_http_script.html` in `mix.exs`.

[2017-05-09 15:44] #17 closed

[2017-05-09 15:51] itsderek23 commented on #17
@ashutoshrishi - Thx for reporting.

We've released 0.2.10 which should fix the issue.

0.2.9 has been retired because of the compile error.

/cc @cschneid

[2017-05-09 17:18] rickclare commented on #17
@itsderek23 Compilation now works for us, using v0.2.10

However, when loading our app in the browser, we are getting 404 errors for the scount_instant.js and scout_instant.css assets

<img width="690" alt="scout" src="https://cloud.githubusercontent.com/assets/127204/25863484/ef18a5ce-34e3-11e7-9c3c-54eaaa4aecd0.png">

[2017-05-09 17:38] itsderek23 commented on #17
@rickclare,

Apologies - try `scout_apm` version 0.2.11. This should fix the missing assets.

[2017-05-10 13:58] rickclare commented on #17
@itsderek23

That's great - v0.2.11 works really well and the new dev-trace functionality is already proving ultra useful in our Phoenix app. Thanks for the fix.

[2017-05-10 14:26] itsderek23 commented on #17
Great! Ping if you run into any issues.

[2017-05-10 18:40] shawnbro opened #20 "Incorporate SCOUT_LOG_LEVEL"
Would it be possible to incorporate using the `SCOUT_LOG_LEVEL` constant - the lib right now floods my production logs with `info` logs that aren't necessary.

[2017-05-10 20:04] itsderek23 commented on #20
@shawnbro - Agree that the logging output is too noisy.

@cschneid - ideas to share? It's an issue in development as well as the messages interrupt `iex` sessions.

[2017-05-11 18:50] cschneid commented on #20
Logging with Elixir is something I haven't fully groked the intricacies of yet.  @shawnbro I assume you're using the default console output with the logger? Or are you using an alternate backend (like `logger_file_backend` or similar)

In the ruby agent, we use our own `Logger.new()` instance which we can set the level of independently based on the `SCOUT_LOG_LEVEL` setting. But Elixir's built-in

[2017-05-11 18:53] itsderek23 commented on #20
For production, couldn't we just change the log level of the recurring payload-related messages to `DEBUG`?

[2017-05-11 19:11] cschneid commented on #20
Yeah, another option would be to just move most log messages in the agent to debug level.

[2017-05-12 21:24] #20 closed

[2017-05-12 21:28] itsderek23 commented on #20
@shawnbro - we've released scout_apm 0.2.12. This silences the log at the `INFO` level during the regular reporting cycles.

[2017-05-12 21:39] itsderek23 opened #22 "Background Job Instrumentation"
Add the ability to instrument background jobs, which appear within a dedicated area of the Scout UI.

We should have docs on instrumenting common background-ish things:

* [Exq](https://gist.github.com/itsderek23/4dfbf8a8eb7f446de775552703eef5a6)
* Task.start
* Task.Supervisor.start_child
* GenServer functions

[2017-05-12 21:49] itsderek23 opened #23 "Channel Instrumentation"
We should provide a way to instrument channels. Channel activity can trigger performance issues.

With custom instrumentation, it's possible to wedge these in as "Controller" or "Job" types into the Scout UI. It'd be nicer to have a dedicated "Channels" area in the UI.

The most straightforward path would be functions / decorators to instrument the `handle_*/` functions.

Potentially useful:

* Po

[2017-05-12 21:53] itsderek23 opened #24 "Instrumentation Guide"
Elixir requires a bit more developer work to instrument things than what we're able to do with Elixir. We should provide some guides for common libraries that have come up. Those include:

* HTTPoison #14
* Ecto Mongo
* GenServer
* Tasks
* Absinthe
* Mnesia
* Exq
* Non-Phoenix Elixir apps

Reference the guide from the README.

[2017-05-12 21:54] itsderek23 opened #25 "Silence logging when agent isn't running"
We still log messages during the reporting cycle when the log level is `debug` even when monitoring isn't enabled.

Remove this noise.

[2017-05-13 01:16] shawnbro commented on #20
awesome will update. thank you @itsderek23 @cschneid

[2017-05-15 15:49] itsderek23 opened #26 "Tracking Phoenix Error Rates"
While providing extensive details / backtraces on exceptions is outside our product scope, timeseries data of error rates is not. It's nice to configure alerts on this, like we do for Ruby.

[The Sentry Elixir Agent](https://github.com/getsentry/sentry-elixir) does this for Phoenix apps w/a [Plug](https://github.com/getsentry/sentry-elixir/blob/master/lib/sentry/plug.ex).

[2017-05-15 16:46] cschneid commented on #25
The options I laid out in #20 would handle this I think.

[2017-05-17 20:00] itsderek23 commented on #22
The middleware approach won't work as the job execution happens in a different process than the middleware before/after hooks. This will track the start and end time of transactions but will drop any instrumentation and context.

I believe the actual job execution [happens here](https://github.com/akira/exq/blob/master/lib/exq/worker/server.ex#L139).

[2017-05-18 16:23] yogipatel commented on #25
It would be helpful if there was no log output if there's no config. Our dev env doesn't have a Scout config, but the console is full of debug messages from the reporter.

Thanks for Scout+Elixir, it's been so easy to get performance information out of our app.

[2017-05-23 20:52] itsderek23 commented on #25
@cschneid - we're getting more requests to silence Scout in development.

Mind picking one of the options from #20 - or another simple idea - to address it?

[2017-05-24 17:29] yogipatel commented on #25
@itsderek23 I'd be happy to send a PR in the next week or so, if you're open to it.

[2017-05-24 18:42] itsderek23 commented on #23
0.3.0 added the ability to instrument custom transactions. This works for channels.

See http://help.apm.scoutapp.com/#instrumenting-common-libraries

[2017-05-24 18:42] #23 closed

[2017-05-24 18:42] itsderek23 commented on #14
We've added a guide for this:

http://help.apm.scoutapp.com/#instrumenting-common-libraries

[2017-05-24 18:42] #14 closed

[2017-05-24 18:43] itsderek23 commented on #24
All but the following is covered in [this guide](http://help.apm.scoutapp.com/#instrumenting-common-libraries):

* Mnesia
* Non-Phoenix Elixir apps

[2017-05-24 18:43] #24 closed

[2017-05-24 18:44] itsderek23 commented on #22
See [this guide](http://help.apm.scoutapp.com/#instrumenting-common-libraries) for instructions on background job instrumentation.

Released w/ 0.3.0.

[2017-05-24 18:44] #22 closed

[2017-05-24 18:45] itsderek23 commented on #26
Note that 0.3.0 wraps our transaction and timing instrumentation in blocks, so these are still captured if the instrumented code fails.

The Phoenix plug approach would need to be different as these aren't wrapped in a `transaction/` block.

[2017-06-01 20:12] cschneid commented on #25
I just pushed #30 and released it as package version 0.3.1.

It has all logging from the agent go through a pass-through ScoutAPM module, which has 2 different methods of quieting down logs.

* If `monitor: false` is set, turning off the agent, logging will be silent.
* A new setting of `log_level` is added to the configuration, which may be set tighter than your overall application log level. (yo

[2017-06-07 18:54] tcollier opened #31 "Application stops tracking when upgrading to v0.3.1"
After upgrading the elixir scout_apm from `v0.3.0` to `v0.3.1`, my Scout dashboard reports no requests, despite server logs showing a steady stream of requests.

Here is a screen shot of the dashboard for an external monitoring request that happens every minute. The drop in throughput corresponds to the deploy that upgraded scout_apm.

![screen shot 2017-06-07 at 11 50 11 am](https://user-images.g

[2017-06-07 19:05] tcollier commented on #31
My application is running on Heroku

[code]

And has the following `mix.lock`

[code]

[2017-06-07 20:00] cschneid commented on #31
This appears to be an issue with the newest hackney version.

https://github.com/benoitc/hackney/issues/413

If you don't need the latest version of hackney for your own app, you may be able to downgrade hackney by explicitly adding it to your mix deps. The bulk of the development and testing of the agent has been against  hackney version 1.7.1.

[2017-06-07 20:36] tcollier commented on #31
I locked my version of hackney to 1.8.3 and am now getting data in Scout. Thanks!

[2017-06-07 20:36] #31 closed

[2017-06-14 02:47] cschneid opened #32 "Ensure agent doesn't log or otherwise break if scout_apm application not started"
This came up during a customer's test suite, when they didn't have the `scout_apm` application started.

Make sure that no unnecessary log messages, and no errors are raised in the case of ScoutApm application not being started.

[2017-06-14 03:13] cschneid commented on #32
For instance:

[code]

[2017-06-20 07:51] weixiyen opened #33 "Absinthe Plug doesn't work since v0.2.7"
The Absinthe Plug no longer works as of version 0.2.7
https://gist.github.com/itsderek23/d9435b21c9a44cd9629e93c4e8c2750e

Seems it's due to **TrackedRequest.start_layer** and **TrackedRequest.stop_layer** accepting modules instead of strings as the first argument.

Would it be possible to make an update to that gist?

Thanks!

[2017-06-20 15:10] cschneid commented on #33
I assume that the error is happening on `stop_layer`?

It looks like we did change the API on that to not include the `full_name` argument as a distinct argument, and instead let the callback function handle it.

I'll have to setup my testing environment for Absinthe again to be positive, but it likely would work if you remove `full_name` on line 15 of the Gist.

[2017-06-20 15:43] weixiyen commented on #33
Correct it seems it's just stop_layer that didn't match.

Your recommendation fixes the issue, thanks!

[code]

[2017-06-20 17:37] cschneid commented on #33
@weixiyen I'm going to reopen this until we get our documentation & that gist updated.

Thank you for reporting this, and I'm glad it's working for you.

[2017-06-20 17:46] itsderek23 commented on #33
[Gist updated](https://gist.github.com/itsderek23/d9435b21c9a44cd9629e93c4e8c2750e).

[2017-06-20 17:46] #33 closed

[2017-06-27 12:39] itsderek23 opened #34 "Module attributes fail when instrumenting functions of the same name"
For example:

[code]

Results in a compile error:

[code]

[2017-06-27 15:44] itsderek23 commented on #34
@cschneid - sounds like you  might have some ideas on this. I've re-assigned this to you for now.

[2017-06-27 16:31] jonathanleang opened #35 "compile error when channel controller contains more than one @transaction/2"
when I have 2 @transaction in my channel controller, I got compile error....
one is fine, anything more is error.

[code]

[code]

also tried without @transaction, still doesn't work.

[code]

have derek have reproduced this bug from slack help

[2017-06-27 18:20] cschneid commented on #34
First half is fixed in #36

[2017-06-27 18:21] cschneid commented on #34
Err - nevermind about "first half". The PR fixes this.

[2017-06-27 18:21] #34 closed

[2017-06-27 18:26] cschneid commented on #35
This is a dupe of #34.

The first half is fixed in #36, and will be released soon in the next version of the agent.

The second half is related to how Elixir names macros when included via `use`. It doesn't attempt to import them into your environment.

So you have 2 options in that case:

Use the complete namespace:

[code]

Import it to avoid retyping the namespace:

[code]

Technically, you can

[2017-06-27 18:33] cschneid commented on #35
Released in agent version 0.3.2

[2017-06-27 18:33] #35 closed

[2017-08-02 20:49] fbjork commented on #25
I think logging should be disabled if the API key config is omitted

[2017-08-17 16:24] cschneid opened #38 "Trace into Task.async & similar spawned processes"
This has come up a few times, most recently trying to trace Absinthe (graphql) [using Tasks](https://github.com/absinthe-graphql/absinthe/blob/v1.3.2/lib/absinthe/middleware/batch.ex#L136-L148).

Things to think about:

* UI to represent parallel vs. serial work?
* What to do about tasks that outlive the caller? (fire & forget)
* Tasks that are killed / stopped / crash?
* Processes spawned manuall

[2018-01-08 21:14] jasonallenphotography opened #41 "Configuration Options - IGNORE"
Customer feature request:
It would be wonderful to have a configuration key `ignore:` which accepts an array of endpoints to be excluded from instrumentation by the Scout Agent.

I understand implicitly including all controllers by default by adding the ` use ScoutApm.Instrumentation` macro to the `myapp_web/myapp_web.ex` module as a catch-all for controller actions, but I have a liveness/readines

[2018-01-16 02:56] pgrunwald opened #42 "Scout APM FunctionClauseError after DB error/rollback"
## Environment

- Elixir 1.5.3
- Erlang 20.1
- Postgres 9.6.6 (and 9.6.5)
- Mac OS X 10.13 (and CentOS 7)

## Observed behavior

We encountered a situation where our Postgres DB was set to read-only and noticed that Scout APM caused all controllers to raise the following error after the query to create a new session in the DB errored:

[code]

If I comment out the inclusion of Scout APM in the con

[2018-01-17 00:04] itsderek23 commented on #42
Thanks @pgrunwald for the detailed report.

We'll check it out this week.

/cc @cschneid

[2018-01-19 22:59] itsderek23 commented on #42
@pgrunwald - we're able to reproduce. We'll be looking into a fix.

[2018-01-24 20:56] cschneid commented on #12
Elixir has moved onwards, going to close this unless somebody really needs this feature.

[2018-01-24 20:56] #12 closed

[2018-01-24 20:59] cschneid opened #43 "Silence logging when no `key` is present"
New issue to track this - originally from @fbjork in #25.

If the agent is unable to run, we should log the startup logic with a note to that effect, then silence ourselves from any further noise.

[2018-01-24 20:59] cschneid commented on #25
@fbjork opened a new issue to track that (#43), since it's a bit of a different task. Closing this issue, since the logging changes made controlling noise levels much easier.

[2018-01-24 20:59] #25 closed

[2018-01-26 21:50] mitchellhenke commented on #42
@pgrunwald apologies, but while taking another look into this, I wasn't able to reproduce. I've put together a minimal set of changes to try to reproduce here: https://github.com/mitchellhenke/scout_testing/compare/8885e78348938e6d91fc41d64fdb22f5f38954b2...reproduce-42?expand=1

With those changes and after running `ALTER DATABASE scout_testing_dev SET default_transaction_read_only = true;` I get

[2018-01-29 01:50] pgrunwald commented on #42
@mitchellhenke,

Ah, apologies, I missed an important detail in my initial bug report: I turned on `dev_trace` in the config. The `scout_apm` config from which I am able to reproduce the bug on my local is shown below.

[code]

[2018-01-29 18:24] mitchellhenke commented on #42
@pgrunwald

I gave that a go, but unfortunately wasn't able to reproduce.

[2018-01-30 02:41] pgrunwald commented on #42
@mitchellhenke, yeah I forked your `scout_testing` repo and tried to recreate and it seems I'm not able to. I guess there is something in the more complex setup of the application where I am getting the error that is causing it.

In any case, the problem is caused by pattern matching on an empty list here:

[code]

In my application, the argument passed to the anonymous function is `[]`, which doe

[2018-01-31 22:06] #42 closed

[2018-02-06 16:55] #41 closed

[2018-02-06 17:04] #43 closed

[2018-02-09 23:50] cschneid opened #49 "Missing instrumentation for GenServers"
This was reported by a customer, writing it up here.

I'm not sure if this is happening on every `GenServer`, only `handle_info`, or if there's some ordering of macro imports.

Example non-working code:

[code]

I'd expect it to trace and report background worker data, but it doesn't.

[2018-03-20 22:20] prem-prakash opened #50 "wrong syntax on docs"
the syntax bellow does not work

[code]

tried on a module:

[code]

the erlang VM starts to consume memory and the module became unresponsive

changing for this syntax it works fine

[code]

[2018-03-20 22:26] cschneid commented on #50
Thank you for the report. We've recently reworked some parts of custom instrumentation to play nicer. The function annotations were clever, but caused some issues, and the next release will provide a midpoint option for instrumentation. I'm glad you have the inside-the-function version of tracing working.

To clarify, the code compiled ok, but failed at runtime?

[2018-03-20 22:58] prem-prakash commented on #50
yes the code compiled ok but failed at runtime by becoming unresponsive

[2018-04-09 20:16] itsderek23 opened #53 "Update HTTPoison Example"
Our [help docs](http://help.apm.scoutapp.com/#httpoison) have an example for instrumenting HTTPoison that references [this gist](https://gist.github.com/itsderek23/50296b49df16b266e47cc04d227d4b4a).

@mitchellhenke - can you update that gist (or create a new one, whichever is more appropiate) to handle the comment on the gist:

![image](https://user-images.githubusercontent.com/7880/38520625-8108b

[2018-04-10 16:06] cschneid commented on #53
We ran into a namespace issue with a customer a while back. If you alias the `ScoutApm.HTTPoison` library, it hides the real HTTPoison name, which makes it impossible to pattern match on the other values in the namespace.

[2018-04-18 02:08] itsderek23 opened #55 "`deftiming/2` triggers a compile error when running tests"
A user reports that while `deftiming/2` works fine normally, it triggers an error when running tests:

[code]

The user is on the latest version of the agent and has:

[code]

...at the top of the module.

@mitchellhenke - mind investigating?

[2018-04-18 14:40] mitchellhenke commented on #55
I wasn't able to reproduce :(

I have the following, which compiles and the test passes:
[code]

I assume the module had more going on, but I'm not sure what would cause the compilation error.

[2018-04-18 14:48] itsderek23 commented on #55
☝️ @jonzlin95 - can you think of anything else that isn't represented in the above example? We haven't been able to reproduce yet.

[2018-04-18 18:14] itsderek23 commented on #55
User was't able to reproduce. Closing.

[2018-04-18 18:14] #55 closed

[2018-04-18 18:15] itsderek23 commented on #55
Thx @mitchellhenke !

[2018-05-16 16:03] #26 closed

[2018-05-21 16:17] cschneid opened #57 "Ecto instrument raises Argument Error on rare occasions."
A customer with a high throughput app sees an Argument Error in ecto_logger.ex about 30 times a day:

[code]

Elixir's `convert_time_unit/3` - https://github.com/elixir-lang/elixir/blob/v1.6.5/lib/elixir/lib/system.ex#L751

Erlang's `convert_time_unit/3` - http://erlang.org/doc/man/erlang.html#convert_time_unit-3

I can reproduce the exception with any non-integer data type as the first argument,

[2018-05-21 22:56] jonzlin95 commented on #57
* postgrex 0.13.5 (Hex package) (mix)
* ecto 2.2.8 (Hex package) (mix)
* phoenix 1.3.2 (Hex package) (mix)

Elixir 1.6.4

[2018-05-23 17:00] #57 closed

[2018-05-30 16:54] itsderek23 opened #59 "Add functionality to support the database addon"
The Elixir agent instruments database queries, and identifies N+1s but does not have the dedicated database query view that's available in the Ruby agent.

Add the required functionality to the agent to support the database addon functionality within Scout.

[2018-06-04 16:29] itsderek23 opened #60 "Add non-placeholder hostname to transaction traces"
Currently we have a placeholder for the hostname associated with a transaction trace:

![image](https://user-images.githubusercontent.com/7880/40929509-290617e4-67e2-11e8-877f-53ebe014109a.png)

Provide a real hostname.

[2018-06-06 20:05] #60 closed

[2018-06-09 03:07] seantanly opened #62 "[0.4.4] no function clause matching in ScoutApm.TrackedRequest.save/1"
scout_apm version: 0.4.4

[code]

[2018-06-11 14:51] itsderek23 commented on #62
Apologies @seantanly - what versions of Phoenix and Elixir are you using?

/cc @mitchellhenke

[2018-06-11 15:11] seantanly commented on #62
Phoenix 1.3.0 with Elixir 1.6.5

[2018-08-14 16:17] dlanderson commented on #62
Fixed in #63 (0.4.5)

[2018-08-14 16:17] #62 closed

[2018-09-17 03:01] jstr commented on #50
It looks like both the docs linked above and those on Hex.pm (e.g. the code comments) are out of date with regard to the deprecations.

[2018-09-17 03:22] jstr opened #66 "Support non-import use"
The recent releases of `scout_apm` deprecate the `use` method and require the use of `import ScoutApm.Tracing`.

This poses challenges for interoperability with some other packages, e.g. https://github.com/Nebo15/sage, and also unnecessary pollutes the function space by importing `transaction`, etc.

Ideally `scout_apm` should be useable without `import`ing its functions and creating potential con

[2018-09-17 17:28] cschneid commented on #50
@jstr - I just looked at our [generated docs](https://hexdocs.pm/scout_apm/ScoutApm.Tracing.html) and it looks ok. We do still document the `@transaction` style, which we should further deemphasise, but the newer style `deftransaction` is there as the recommended version.

Can you point to what you're seeing?

[2018-09-17 17:40] cschneid commented on #66
@jstr - thank you for the report. The `transaction` and `timing` "functions" are actually macros, so will require some sort of "import" to work.

Instead of `import`, which brings names into the module's namespace, can you try `require ScoutApm.Tracing`, which shouldn't affect namespace, but does enable macros from the Tracing package. After that you should be able to refer to them by their full n

[2018-09-27 05:39] jstr commented on #66
Thanks @cschneid, this what I ended up doing. I do think the documentation could be clearer about usage in this respect.

[2018-11-12 07:42] gen1321 opened #67 "Looks broken for Ecto 3.0"
I'm having exceptions with Ecto 3.0 and phoenix 1.4

[code]

[2018-11-12 22:44] cschneid commented on #67
Thank you for the report - I'll take a look ASAP.

[2018-11-12 22:51] gen1321 commented on #67
Thanks @cschneid ! by the way this approach  is depricated for ecto 3
[code]
I guess we should take a look at Telemetry and implement it :)

[2018-11-12 23:13] cschneid commented on #67
From what I understand, Telemetry baked into the Phoenix stack isn't released yet? Is Ecto and its adapters ahead of the curve on that?

[2018-11-12 23:41] gen1321 commented on #67
Yes, it inside phoenix stack but it released standalone package https://hex.pm/packages/telemetry. You can check implementation from AppSignal on theirs Elixir Client. here is sample code
[code]

[2018-11-13 21:43] cschneid commented on #67
@gen1321  - Thank you for the great report - I've handed this off to our elixir expert who will get Ecto 3 up and running.

[2018-11-15 22:55] #67 closed

[2018-11-19 23:13] cschneid opened #69 "Instrument an HTTP Chunked Response"
A user in slack asked about their controller, which does chunked responses, and isn't instrumented well currently. The actual data is fed via an `Ecto.Stream`.

We need to investigate and document how this should work.

[code]

[2018-11-19 23:15] cschneid commented on #69
As of right now, this won't be instrumented by our normal controller plug, so the strategy is to instrument it manually, and tell the normal instruments to not run at all:

[code]

[2018-11-20 00:11] lypborges commented on #69
I'm getting this warning `warning: function ScoutApm.Plugs.ControllerTimer.action_name/1 is undefined or private` and it's true ;)

[code]

[2018-11-20 20:37] mitchellhenke commented on #69
@lypborges hey, I've pushed a new branch here that should fix that 🙂

Could you install it and let us know if things show up in Scout as expected?  If the route is configured in `ignore`, it should skip normal instrumentation and only use the instrumentation added manually.

[code]

[2018-11-20 23:58] lypborges commented on #69
Hi! @mitchellhenke tks for the reply.

I tried, but the request is not being tracked. How can I help with more info or any tip to debug?

[2018-11-21 00:49] lypborges commented on #69
I think that it's something wrong in the action_name method. It's calling private but it's not getting a conn but a :ok atom.

[code]
[code]

[2018-11-25 01:29] lypborges commented on #69
<img width="1428" alt="screen shot 2018-11-24 at 11 04 04" src="https://user-images.githubusercontent.com/1749820/48968580-b5fc8600-efd8-11e8-9603-5631eec3a2db.png">

It works. Thanks a lot.

[2018-11-26 16:49] mitchellhenke commented on #69
Closed in #70 and released in `0.4.9`

[2018-11-26 16:49] #69 closed

[2018-12-11 20:34] john-griffin opened #71 "Ecto 3 / Phoenix 1.4 Issue"
We get the following error when booting the app using the new Ecto 3 telemetry integration.

[code]

[2018-12-11 20:42] cschneid commented on #71
It looks like the Telemetry application isn't started at the point the Scout integration call happens. This is odd, since I think the dependencies between apps should be YourApp -> EctoSql -> Telemetry, so they all should be started before the Scout register call happens.

Can you check for the telemetry app running at the startup of your app, and see if that's not starting for some reason?

@mitc

[2018-12-11 20:47] john-griffin commented on #71
How do I know if the Telemetry app is running? The only changes we made were to upgrade the packages and switch to the new style integration as suggested in the docs.

[2019-01-16 06:41] etehtsea commented on #71
The same problem here.
Didn't dig into it much but it seems to work when I run `mix phx.server` and not for db tasks (like `mix ecto.migrate`) nor `mix test`.

`telemetry` appears in the list for `mix phx.server` and not when I run `mix test`.

[2019-01-16 15:57] mitchellhenke commented on #71
@etehtsea can you gist your dependencies and `extra_applications` in your `mix.exs`?

if you don't have `ecto_sql` or `telemetry` in your direct dependencies and they aren't being started in `extra_applications`, you may see the above issue.

[2019-02-22 20:30] cschneid opened #75 "Add option for ignoring requests"
The Ruby Agent has several methods for ignoring certain requests, which we should add to the Elixir agent as well.

* Blanket ignore via the `ignore` option. This exists in Elixir already
* Selective ignore by calling a function during a request.

The Selective Ignore feature also allows for user-defined sampling in the case of very high, but relatively uninteresting throughput.

[2019-02-22 20:34] cschneid commented on #75
The Ruby impl does some tricks to minimize memory and cpu overhead if it's been informed that the whole transaction will be ignored.

It stops the installed instrumentation from recording new layers at all, wipes any existing ones, and instead switches to only counting call depth, 1, 2, 3, 2, 3, 2, 1, 0 (and at 0, flush the ignored transaction and go on to record the next one like normal)

[2019-03-04 16:31] cschneid opened #76 "Ecto Repo inside a module breaks instruments"
If you have a repo named `MyApp.Datastores.Repo`, the telemetry attach function attaches to `[:myapp, :datastores, :repo, :query]` and then the call to `handle_event` fails to pattern match (since it has 1 too many items in the list).

[2019-03-04 17:22] #76 closed

[2019-03-06 22:02] john-griffin commented on #71
We recently upgraded to elixir 1.8.1 and scout_apm 0.4.11. The telemetry and ecto_sql apps are running but we are still not seeing any database traces in Scout.

[2019-03-06 22:07] cschneid commented on #71
@john-griffin would you mind emailing support@scoutapp.com with your Scout ecto instrumentation call. It'll be easier to give support there, rather than here on Github.

[2019-03-12 02:14] cschneid opened #80 "Hackney fails to report payload under (very) high load"
Had an isolated report of this from a customer doing load testing:

[code]

Hackney has a feature called 'Connection Pooling' that may avoid this, although I've not looked into it yet.

In trying to fix this, note that we intentionally use a very loose requirement on Hackney so as not to affect our customer's more specific version requirement.

[2019-03-13 15:30] cschneid opened #81 "Support Multiple Repos in Ecto 3"
When you attach Scout instruments to multiple repos,
 calls beyond the first will return {:error, :already_exists}.

This is due to the [handler id](https://github.com/scoutapp/scout_apm_elixir/blob/master/lib/scout_apm/instruments/ecto_telemetry.ex#L18) needing to be unique across the entire running system, but only having a single hard-coded value in the Scout call. We should create the string b

[2019-03-13 16:57] #81 closed

[2019-04-05 18:23] #3 closed

[2019-04-05 18:26] mitchellhenke commented on #32
Closing this issue for now as there haven't been any recent reports.  If you do run into this, please let us know!

[2019-04-05 18:26] #32 closed

[2019-04-05 18:31] mitchellhenke commented on #50
The docs have been updated to reflect the deprecation of `@timing` in favor of the new implementation and style.  If it is unclear, please let us know! 🙂

[2019-04-05 18:31] #50 closed

[2019-04-05 18:32] #53 closed

[2019-04-05 18:36] mitchellhenke commented on #71
Closing this issue for now as there haven't been any recent reports. If you do run into this, please let us know!

[2019-04-05 18:36] #71 closed

[2019-04-05 18:53] mitchellhenke commented on #66
Closing this issue as I've added a note about collisions and a link to the Elixir documentation on it.  Thanks for opening the issue 🙂

[2019-04-05 18:53] #66 closed

[2019-04-05 18:55] mitchellhenke commented on #75
This was closed in #79

[2019-04-05 18:55] #75 closed

[2019-04-06 21:07] wcpines commented on #71
I seem to also be hitting this error.

I have `:telemetry`, `:ecto_sql` and `:new_relic_agent` in my `Application.loaded_applications()` when I run `iex -S mix`.

I can post a gist with my setup or email.  @cschneid any preferences? Please and thank you 😄

[2019-04-08 14:41] mitchellhenke commented on #71
@wcpines Do you have the handler being added in your Repo's init callback or in your Application's start callback?  I think previous documentation suggested putting it in the Repo callback, but it should be in the Application start.  Ex:

[code]

[2019-04-08 17:28] wcpines commented on #71
Solved. Thank you 😍

[2019-04-09 21:02] cpursley opened #86 "Compilation error in file lib/scout_apm/logger.ex"
I'm getting the following strange issue when compiling my Pheonix app:

[code]

elixir 1.7.3
phoenix 1.3.4
scout_apm: 0.4.14

[2019-04-10 12:03] cpursley commented on #86
Closing. This was caused by a bug in elixir 1.7.3.

[2019-04-10 12:03] #86 closed

[2019-05-29 16:21] gregnavis opened #87 "Scout 0.4.14 doesn't work with Ecto 2"
Hi!

My set up is as follows:

* Elixir 1.8.2
* Ecto 2.2.8
* Phoenix 1.3.0

I'm getting the following error:

[code]

It seems that 3c5cf28c9113043ac0d458df867df3095d548ea3 removed `log`.

Downgrading to 0.4.13 solves the problem.

[2019-06-03 16:35] cschneid commented on #87
Thank you for the report - sorry about that accidental removal - we'll get it readded and released.

[2019-06-26 15:01] #87 closed

[2019-07-01 17:40] bobics opened #89 "crash when logging Ecto transaction rollback"
I'm seeing a crash with the Scout Ecto logger in my Elixir app. I'm guessing the Scout Elixir library isn't handling all types of `DBConnection.LogEntry.result` values. In this particular case, we're using Ecto.Multi with multiple changes which is wrapped in a transaction. That transaction is designed to rollback in some cases. We're using Ecto 2, and `scout_apm_elixir` 0.4.15. Here's the stack tr

[2019-07-01 17:50] bobics commented on #89
FYI, I ended up hacking a fix on my end by changing:
[code]

to:
[code]

in `lib/scout_apm/instruments/ecto_logger.ex`

[2019-07-03 19:30] bobics opened #91 "Have DevTrace work Custom Instrumentation (Phoenix Channels)"
Our use case is we would like DevTrace to work with Phoenix Channels. This implies Custom Instrumentation via `deftransaction` / `transaction` would need to be sent to DevTrace.

[2019-08-27 23:20] bobics opened #94 ""Scout Layer mismatch" when sampling transactions with `TrackedRequest.ignore()`"
I'm trying to only sample a fraction of our requests using `ScoutApm.TrackedRequest.ignore()` per the API docs in `scout_apm_elixir`, but seeing the following error:

Following this per the docs:
https://github.com/scoutapp/scout_apm_elixir/blob/master/lib/scout_apm/tracked_request.ex#L146

How we're calling it:
[code]

We're using Ecto 2, and we see this message flood our logs. Most of our transa

[2019-08-28 18:53] #94 closed, assigned to nobody

[2019-09-19 15:10] mcasper opened #99 "ldd error on Alpine 3.10"
Hey folks,

On at least alpine 3.10, this library outputs an error when trying to detect the `libc` version:
[code]
which comes from https://github.com/scoutapp/scout_apm_elixir/blob/b9ce2312cd59e4f3ca8718fdbb6b30d5cb83d784/lib/scout_apm/core.ex#L76

Calling the .so directly yields the expected response:
[code]

[2019-09-19 15:12] mcasper commented on #99
It looks like this is because the ldd wrapper script in /usr/bin is only sending things on to the args part of the binary:
[code]

[2019-09-19 16:29] cschneid commented on #99
Thank you, that's annoying. It's surprisingly difficult to figure out if the underlying platform is musl or glibc in a generic manner.

As a workaround, you should be able to set the platform triple explicitly:

`core_agent_triple: "i686-unknown-linux-musl"` next to the other Scout configs.

[2019-09-23 15:37] mcasper opened #100 "ScoutApm Core Agent TCP socket closed"
Hey folks,

I'm running the 1.0 version of this library that now uses the scout core agent for sending metrics, and am getting the following message over and over, and am not getting any metrics reported:

```15:31:19.445 [warn] ScoutApm Core Agent TCP socket closed. Attempting to reconnect.```

I've checked to make sure that the agent is running and accepting messages:
[code]

I'm running this in

[2019-09-23 16:00] cschneid commented on #100
Thank you for the report - I'm taking a look

[2019-09-23 16:10] mcasper commented on #99
Nice, thank you for the workaround!

[2019-09-23 20:51] cschneid commented on #100
Hi @mcasper I think I messed up bumping the version in the binary with this release, which caused it to report wrong to that `probe` command and continually attempt to stop and restart it. I've released 1.2.1 to fix that.  Can you set core_agent_version to 1.2.1 explicitly and see if that works?

The setting is:

`core_agent_version: "v1.2.1"`

[2019-09-23 22:26] mcasper commented on #100
I gave that a try, still no dice 😞

I confirmed that the core agent is running the new version:
[code]

But am still getting the same error message

[2019-09-25 20:39] cschneid commented on #100
Thank you for trying the new version of the CoreAgent. Sorry it didn't work.

We are using the tcp/ip connector with the Elixir agent. It looks like the initial connection completes, but then fails soon after. I don't know what would cause that though.

Our Elixir agent maintainer is out for a few more days, and he'll take a look right when he gets back.

[2019-10-01 16:52] #99 closed

[2019-10-02 16:25] mcasper commented on #100
Oh nice, thanks for the tip on `log_level`. Here's the output:

[code]

We're running Erlang/OTP 22 which it looks like isn't in the travis matrix for this repo, maybe there was a change in the `:gen_tcp` API in 22?

[2019-10-02 16:31] mitchellhenke commented on #100
I will take a peek at that.

Could you try the 1.0.1 version of the package?

[2019-10-02 16:38] mcasper commented on #100
That's actually what I was running there, and I was able to remove the `core_agent_triple` setting and it detected the libc version perfectly 👍

[2019-10-02 20:44] mitchellhenke commented on #100
@mcasper I found an issue with the reconnect logic

I believe I've fixed it here: #103

if you don't mind, could you try the master branch with that patch?

[2019-10-02 21:11] mcasper commented on #100
@mitchellhenke Just gave it a go, and it did fix the `FunctionClauseError`!

Separately, I reread your earlier message and realized what the connectivity problem was, my application was binding to port `9000` first and blocking the core agent. I went ahead and set `core_agent_tcp_port: 9001`, and everything started working, hurray!

So while this definitely comes down a case of user error, should

[2019-10-02 21:42] mitchellhenke commented on #100
That's all great to hear 🙂

Per https://hexdocs.pm/phoenix/up_and_running.html, Phoenix binds to 4000 by default. Is there a distribution or setup of Phoenix that defaults to 9000?

If it's a significant issue, we could for sure consider changing the default.

[2019-10-02 21:56] mcasper commented on #100
Uhhhh yep, you're totally right, I don't know why I thought phoenix bound to 9000 by default. Ignore me!

[2019-10-02 22:00] mitchellhenke commented on #100
No worries, thanks for the patience in working through this

[2019-10-23 16:40] mitchellhenke commented on #100
This has been resolved I think 🙂

[2019-10-23 16:40] #100 closed

[2019-10-30 17:38] cschneid opened #107 "Metadata should have language / language_version fields"
Standardizing metadata between the various agents - put a fixed `elixir` string in `language`, and the version (1.9.2 or whatever) in `language_version`

Keep the existing fields for now. Need to ensure that the CoreAgent handles them nicely when missing.

[2019-11-27 21:45] #107 closed

[2020-02-17 16:27] mitchellhenke opened #112 "Instrument Phoenix with Telemetry"

[2020-04-21 09:33] ZombieHarvester opened #113 "(Protocol.UndefinedError) protocol Jason.Encoder not implemented"
When I tried to use ScoutAPM in dev env following the instruction from ReadMe, i'm getting the following error when I start the app. Phoenix version 1.4.16

[code]

[2020-08-24 21:02] cschneid opened #115 "Default to TCP socket for core agent communications"
Too many installs are having issues with file permissions for the core agent unix socket. The core agent has the ability to listen on a TCP socket. Change the agent code to default to using only the TCP socket, but make sure we can still use the unix socket option too.

* Change the default `core_agent_socket_path` to `tcp://127.0.0.1:6590`.
* Any socket path that begins with tcp:// connect via a

[2020-11-25 18:27] hez opened #116 "Using module attributes instead of macros"
Instrumenting our code requires extensive destructive modifications.

From
[code]

To
[code]

In other APM tracers I have seen the use of module attributes to augment the function.

Would look something like
[code]

Example: https://github.com/newrelic/elixir_agent/blob/master/lib/new_relic/tracer.ex

[2020-12-29 10:44] Stefano1990 opened #117 "Failed to download and extract ScoutApm Core Agent"
Log looks like this:
[code]

[2021-01-07 17:15] simedw opened #118 "Building Phoenix Live Dashboard fails for undefined ScoutApm.Instruments.EExEngine.compile/2"
I have been using scout apm for a while now, and recently added phoenix live dashboard to one of my projects, however when compiling the dependencies from scratch (`rm -rf _build && mix deps.compile`) phoenix_live_dashboard gets compiled before scoutapm. This causes it to crash since it's trying to use ScoutApm.Instruments.EExEngine.compile which is not yet defined.

Here is the rough output
[code

[2021-01-07 17:51] cschneid commented on #118
Did either of the workarounds work for this? Either moving the order of deps around, or doing the custom compiler `defmodule Mix.Tasks.Compile.ScoutAppTemplates do`?

[2021-03-02 09:57] begedin opened #119 "ScoutAPM.Core.AgentManager steadily jumping in memory usage"
First of all, I apologize if this is the wrong avenue to post this. Please let me know and I will redirect.

# Issue

We've had our backend crash due to OOM this morning and after a restart, I'm seeing the `AgentManager` process on the phoenix live dashboard, steadily growing in usage and message queue size.

On first check, the queue was at 6000 messages and memory usage kept shifting between 75

[2021-07-26 18:29] teejae commented on #119
Any updates on this issue? Our company is seeing the same problems.

[2021-07-26 18:48] jeregrine commented on #119
@teejae So the one solution we know that works right now is to kill the [process if it grows too large.](https://github.com/scoutapp/scout_apm_elixir/pull/120). The main bottlneck is that the scout agent thing that you install is single threaded and I don't have a ton of control over that.

Unfortunately this is not an ideal solution.

[2021-07-27 07:58] begedin commented on #119
Unfortunately, due to this issue, we've had to switch away from scout to a different provider.

A few things we did to reduce the effect of the issue before we gave up

- we started sampling our tracked events, tracking only a percentage of them
- we used a custom fork of the library, which was checking memory usage and would "pause" tracking if usage was too high - https://github.com/scoutapp/sco

[2021-08-03 06:12] teejae commented on #119
@jeregrine thanks for the reply. when you say that the agent is single threaded, and don't have a control over that, what's that mean? who does have control of it being single or multi threaded then?

[2021-12-04 22:48] alexgleason opened #122 "Can't be used with AGPL software"
Hi, I'm trying to identify slow Ecto queries in [Pleroma](https://pleroma.social/). Scout looks like a good fit, except for the fact that this client library is incompatible with Pleroma's AGPL license, so it can't be used.

Using a restrictive license for a client library is unusual in this space. Take [Sentry's Elixir client license](https://github.com/getsentry/sentry-elixir/blob/master/LICENSE

[2021-12-14 19:48] #115 closed

[2022-01-03 22:23] antondomratchev commented on #113
I recently ran into this exact issue. I was able to resolve this by setting `dev_trace` config to false

[2022-10-12 05:05] pvthuyen opened #123 "ScoutApm.Command does not work in Elixir 1.14"
Implementations for `ScoutApm.Command` are not recognized by Elixir 1.14. I've included the stack trace and errors below. I'm guessing that it's because we are defining the implementation inside the modules.

[code]

[2022-10-13 19:44] dlanderson commented on #123
Thanks @pvthuyen. @jeregrine is this something RokkinCat can help with?

[2022-10-24 15:19] jeregrine commented on #123
Sorry for delay. I will take alook now.

[2022-10-24 15:54] jeregrine commented on #123
@pvthuyen I need to do some more testing but master branch should be fully functioning now thanks to your PR and some extra stuff I needed to do.

Please confirm by pointing your mix dep to github `{:scout_apm, github: "scoutapp/scout_apm_elixir"}` and running it.

[2022-10-24 19:55] pvthuyen commented on #123
Thanks @jeregrine. I will try it on my project later. I have a small comment on your commit though, https://github.com/scoutapp/scout_apm_elixir/commit/4b9c43fb03131e827faf80709851fa96ac2a74b3#r87762936.

[2022-10-25 07:30] pvthuyen commented on #123
I'm getting this when running my project after updating the dependencies.

[code]

[2022-10-25 10:05] pvthuyen commented on #123
It's due to `ScoutApm.Core.AgentManager` does not have the correct `start_link` definition.

https://github.com/scoutapp/scout_apm_elixir/pull/125

[2022-10-26 08:17] pvthuyen commented on #123
@jeregrine `master` branch seems to work on my project now. Please kindly help me release a new version.